@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../../../Sass/App.scss';

label{
 font-weight: 400;
 font-size: 14px;
 line-height: 16.41px;
 color: #828282;
}

.inputText{
    margin-top: 11px;
}

.disabled{
    cursor: not-allowed;
}
.onError{
    color: #9f3a38;
}